streamlit
python-dotenv
requests
pydantic
pandas

langchain
langchain-core
langchain-community
langgraph
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-google-genai
langchain-groq

langchain-openai


chromadb
sentence-transformers

fastmcp
fastapi
langsmith
uvicorn
python-dotenv
requests
groq
langchain-groq